.CompanyMainPageLogo{
  margin: 0 auto;
  background-image: url('МарафонNewBig.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 170px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img {
  position: absolute;
  background-image: url('stay-home-5205390_960_720.webp');
  top: -50px;
  background-size: 50%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  z-index: -100;
}


.img2 {
  position: absolute;
  background-image: url('business-5840872_1280.png');
  top: -50px;
  background-size: 50%;
  background-position: 0 40%;
  background-repeat: no-repeat;
  z-index: -100;
}

.rgba {
  background: rgba(19, 19, 19, 0.144); 
  z-index: -50;
}

.formBg {
  background: rgba(19, 19, 19, 0.561);
  border-radius: 10px;
  padding: 30px;
  color: white;
  font-size: 24px;
  max-width: 430px;
}

.formBg2 {
  background: rgba(19, 19, 19, 0.561);
  border-radius: 10px;
  padding: 40px;
  color: white;
  font-size: 24px;
  max-width: 430px;
}
